/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #F5F5F5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}
@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}
.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}
.landing-page header .logo {
  color: #875382;
  text-transform: uppercase;
  font-size: 20px;
}
@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.landing-page header .links {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}
.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}
@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}
.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}
@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px;
  }
}
.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
}
.landing-page .content .image img {
  max-width: 100%;
}
/* End Landing Page */

/* SVG */
svg {
  height: 90vh;
  display: block;
  margin: auto;
}

#click_text {
  position: absolute;
  top: 20px;
  width: 99%;
  text-align: center;
  font-size: 32px;
  font-family: monospace;
  color: #44403a;
  font-weight: bold;
  text-shadow: -2px 3px 3px #0000005c;
}

/* List item styling */
.fancy-shadow-card {
  background: #EBCBEA;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  scale: 1;
}
.card-title {
  font-weight: 800;
}

/* List of Quizzes */
.list-of-quizs {
  width: 564px;
  height: 456px;
  display: grid;
  gap: 24px;
}

/* Quiz Page Styling */
.panel {
  width: 610px;
  min-height: 400px;
  position: relative;
  height: 400px;
  padding: 15px;
  background-color: #f1f1f1;
  border: 5px solid #f59c02;
  border-radius: 25px;
  overflow: hidden;
  -webkit-animation: slidein .5s 1 forwards;
}

/* Animation for quiz panel */
@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Github Icon Styling */
.icon-container {
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin: 15px auto;
  max-width: 80px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.icon-container:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.icon-container svg {
  display: block;
  width: 100%;
  height: auto;
}

.icon-container:hover .gh-mark {
  fill: url(#gh-mark-grad); /* Applies if you use SVGs */
}
